<div class="flex-1 rounded-md h-fit w-1/2 p-4 animate-slide-left">
    <h1 class="text-4xl p-4 text-left w-full">Utwórz nowy plan </h1>
    <form [formGroup]="formGroup" (submit)="handleSubmit()" class="flex flex-col p-4  gap-8 mt-4">
        <div class=" text-left">Poniedzialek</div>
        <div>
            <select class="border p-4 w-fit bg-backgroundBlack-default"  id="emailAddress" formControlName="poniedzialek">
                <option>Wybierz opcje z dostępnych</option>
                <option [value]="subject.scheduleId" *ngFor="let subject of loadedData" >{{subject.scheduleId}}</option>
            </select>
        </div> 
        <div class=" text-left">Wtorek</div>
        <div>
            <select class="border p-4 w-fit bg-backgroundBlack-default"  id="emailAddress" formControlName="wtorek">
                <option>Wybierz opcje z dostępnych</option>
                <option [value]="subject.scheduleId" *ngFor="let subject of loadedData" >{{subject.scheduleId}}</option>
            </select>
        </div> 
        <div class=" text-left">Środa</div>
        <div>
            <select class="border p-4 w-fit bg-backgroundBlack-default"  id="emailAddress" formControlName="sroda">
                <option>Wybierz opcje z dostępnych</option>
                <option [value]="subject.scheduleId" *ngFor="let subject of loadedData" >{{subject.scheduleId}}</option>
            </select>
        </div> 
        <div class=" text-left">Czwartek</div>
        <div>
            <select class="border p-4 w-fit bg-backgroundBlack-default"  id="emailAddress" formControlName="czwartek">
                <option>Wybierz opcje z dostępnych</option>
                <option [value]="subject.scheduleId" *ngFor="let subject of loadedData" >{{subject.scheduleId}}</option>
            </select>
        </div>
        <div class=" text-left">Piątek</div> 
        <div>
            <select class="border p-4 w-fit bg-backgroundBlack-default"  id="emailAddress" formControlName="piatek">
                <option>Wybierz opcje z dostępnych</option>
                <option [value]="subject.scheduleId" *ngFor="let subject of loadedData" >{{subject.scheduleId}}</option>
            </select>
        </div> 
 


        <button class=" text-white-default ml-auto  px-8 py-2 bg-basicRed-default text-center cursor-pointer rounded-md select-none hover:bg-basicRedDarker-default">Utwórz nowy plan</button>
    </form>
</div> 