<div class="flex-1 rounded-md h-fit w-full xl:h-3/4 animate-slide-left">
    
    <h1 class="text-4xl p-4 text-left w-full">Plan lekcji</h1>
    
    <div class="flex gap-8 flex-col p-7">
        
        <div class="p-7 bg-backgroundGray-default w-full text-backgroundBlack-default rounded-md" *ngFor="let lesson of planLekcji; index as i">
                <div class="text-3xl mb-4">{{daysOfWeek[i]}}</div>
                <ul class=" text-xl flex flex-col gap-4 ">
                    <li>{{lesson.pierwszaLekcja.name}}</li>
                    <li>{{lesson.drugaLekcja.name}}</li>
                    <li>{{lesson.trzeciaLekcja.name}}</li>
                    <li>{{lesson.czwartaLekcja.name}}</li>
                    <li>{{lesson.piataLekcja.name}}</li>
                </ul>

        </div>
    </div>

</div>