<div class="flex-1 rounded-md h-fit w-full xl:h-3/4 animate-slide-left">
    
    <h1 class="text-4xl p-4 text-left w-full">Lista wszystkich studentów</h1>
    
    <div class="flex gap-8 flex-col p-7">
        
        <div class="p-7 bg-backgroundGray-default w-full text-backgroundBlack-default rounded-md" *ngFor="let student of studentsList; index as i">
                <div class="text-2xl mb-4">{{student.name}} {{student.surname}}</div>
                <div class=" text-white-default ml-auto  px-8 py-2 bg-basicRed-default text-center cursor-pointer rounded-md select-none hover:bg-basicRedDarker-default" [routerLink]="'/new-grade/'+student.id">Dodaj ocene</div>
        </div>
    </div>

</div>