<app-error *ngIf="loadedUsers==false" errorMessage="Uwaga bład przy pobieraniu list uzytkowników!!!" ></app-error>
<div class="flex-1 rounded-md h-fit w-1/2 p-4">
    <h1 class="text-4xl p-4 text-left w-full">Wyślij nową wiadomość </h1>
    <form [formGroup]="formGroup" (submit)="handleSubmit()" class="flex flex-col p-4  gap-8 mt-4">
        <div class=" text-left">Adresat</div>
        <div>
            <select class="border p-4 w-fit bg-backgroundBlack-default"  id="emailAddress" formControlName="to">
                <option>Wybierz opcje z dostępnych</option>
                <option *ngFor="let email of emailAdressList" >{{email}}</option>
            </select>
        </div> 
        <div>
            <div class="text-left">Temat</div>
            <input name="subject" formControlName="tittle" type="text" class="p-2 rounded-md text-backgroundBlack-default">

        </div>
        <div>
            <div class="text-left">Treść</div>
            <input name="text" formControlName="content" type="text" class="px-2 py-8 rounded-md text-backgroundBlack-default">

        </div>

        <button class=" text-white-default ml-auto  px-8 py-2 bg-basicRed-default text-center cursor-pointer rounded-md select-none hover:bg-basicRedDarker-default">Wyślij wiadomość</button>
    </form>
</div> 