<div class="flex-1 rounded-md h-fit w-full p-4 animate-slide-left">
    <h1 class="text-4xl p-4 text-left w-full">Zadania domowe</h1>
    <div class="bg-backgroundGray-default text-backgroundBlack-default p-7 rounded-md">
        <div class="text-3xl">Ostatnie zadania</div>
        <div class="p-4 w-full text-xl flex flex-col gap-4">
            <div *ngFor="let homework of homeworksArray" class="">
                <div>
                    {{homework.content}}
                </div>
                <div class="italic">Termin oddania {{homework.date}}</div>
            </div>
             <div class="min-w-fit max-w-64 ml-auto ">
                 <div class=" text-white-default mt-4 px-8 py-2 bg-basicRed-default text-center cursor-pointer rounded-md select-none hover:bg-basicRedDarker-default" routerLink="/lesson-activities-form/homework">Nowa zadanie</div>
                </div>

        </div>
    </div>
</div>